<?xml version="1.0"?>
<appSettings>
    <add key="TituloAplicacion" value="Foco en Obra 2018"/>
    <add key="GrillaPageSize" value="15"/>
    <add key="FocoEnObra" value="Foco38Obra2013"/>
    <add key="version" value=" (0.0.1)"/>
  <add key="carpetaImagenes" value="~\ImgGaleria\"/>
    <!--<add key="PaginaInicio" value="~/Sistema/DesarrolloInicio.aspx"/>-->
  <!--<add key="PaginaInicio" value="~/pages/Calidad/RegistrosCalidadListado.aspx"/>-->
      <add key="PaginaInicio" value="~/pages/Calidad/RegistrosCalidadListado.aspx"/>

  <!--<add key="PaginaInicio" value="~/pruebafuera.aspx"/>-->

  <!--<add key="PaginaInicio" value="~/pages/Reportes/ReporteBI.aspx"/>-->  
</appSettings>
